<h1>Hi, <%= @user.username.capitalize %>!</h1>

<a href="/<%=@user.username%>/projects">List Projects</a><br>
<a href="/projects/new">Create a new project</a><br>
<br>
<br>
<br>

<a href="/logout">Logout</a>
