<div>
  <p>This is the logged in users home page</p>
  <h1>Welcome, <%= @user.username.capitalize %></h1>

  <a href="/create_project">Create a new project</a><br>
  <a href="/edit_project">Edit project</a>

</div>
