<% #flash a message here if flash message... %>

<h1>Hi, <%= @user.name.capitalize %>!</h1>

<a href="/users/<%= current_user.name %>">List Projects</a><br>
<a href="/projects/new">Create a new project</a><br>
<br>
<br>
<br>

<a href="/logout">Logout</a>
