<h1>Welcome, <%= @user.username.capitalize %></h1>

<a href="/list_your_projects">Edit project</a>
<a href="/edit_project">Edit project</a>
<a href="/create_project">Create a new project</a><br>
<br>
<br>
<br>

<a href="/logout">Logout</a>
