<h1>Share your project idea!</h1>

<form class="" action="/projects/new" method="post">
  <h2><label>New Project</label></h2>
  <p>Project Name: <input type="text" name="project_name"></p>
  <p>Project Description: <input type="text" name="description"></p>
    <% @sections.each do |section| %>
    <label> <%= section.name %></label>
      <input type="checkbox" name="project[section_id][]" value="<%=section.id%>">
    <%end%>
  <input type="submit" name="" value="submit">
</form>
