<h1>Edit Your Project</h1>
<form class="" action="/projects/<%= @project.id %>/edit" method="post">
  <p><input type="text" name="description" value="<%= @project.description %>"></p>
  <input type="submit" name="" value="submit">
</form>
