<!doctype html>
<html>
  <head>
    <title>Think Tank</title>
  </head>
  <body>
    <nav>
      <% if logged_in? %>
      <a href="/thoughts/new"> Create Thought </a>
      <a href="/logout"> Log Out </a>
      <p>Welcome, <%=current_user.username %></p>

    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login"> Sign In </a>
    <%end %>

      <%end %>

    </nav>

      <%= yield %>


    </div>
  </body>
</html>
