<h1>Welcome To Think Tank!</h1>
<h2>Shared thoughts for app ideas!</h2>

<nav>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
</nav>
<br>
<div class="content">
  <a href="/projects"> View All Projects! </a>
  <% if @random_app_idea %>
  <p> <%= @random_app_idea.project_name %> </p>
  <% end %>
</div>
